body {
    padding-top: 35px;
}
h1 {
    font-family: 'New Spirit', Times, Serif;
    font-size: 50px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    color:#365E41;
    padding-top: 0px:
}
h2 {
    font-family: new-spirit-condensed;
    color: #365E41;
}
h3 {
    font-family: new-spirit-condensed;
    color: #365E41;
}
p {
    font-family: 'Courier New', Courier, monospace;
}
ul {
    font-family:'Courier New', Courier, monospace;
}
a {
    color: #365E41;  
}
label {
    font-family: new-spirit-condensed;
    color: #365E41;
}
button {
    background-color: #365E41;
    color: white;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
.green-text {
    color: #365E41;
    font-family: new-spirit-condensed;
    font-weight: bold;
}
.marquee {
    width: 100%; 
    border-width: 7px 0px;
    border-style: solid;
    border-color: #365E41;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    background-color: white;
    color: #365E41;
    font-size: 50px;
}
.marquee-scroll {
    animation-duration: 20s ;
	animation-iteration-count: infinite ;
	animation-name: marquee-content ;
	animation-timing-function: linear ;
	padding: 0px 10px 0px 10px ;
    margin: 20px 0;
    font-family: new-spirit-condensed,times;
}
.tree-report {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 3px solid #365E41;
}
.dropdown-menu {
    max-width: 200px;
}

.border {
    clear:both;
    border:solid;
    border-radius: 3px;
    border-color: #365E41;
}
.background-image {
    max-width:100%;
    height:762px;
    background-image:url(tree.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
/*header formatting*/
header{
    position: sticky;
    top: 0;
    background: white;
    padding: 45px;
    clear:both;
    border-bottom:solid;
    border-radius: 3px;
    border-color: #365E41;
}

header a {
    text-decoration: none;
}
#header-title {
    padding: 0px;
    margin: 0px;
}
#header-nav {
    width: auto;
    float: center;
    padding-top: 10px;
    margin: 0px;
}

.header-nav-links {
    width:25%;
    float:left;
    white-space: nowrap;
}
@keyframes marquee-content {
	from {
		transform: translateX( 0% );
	}
	to {
		transform: translateX( -100% );
		}
}
@font-face {
  font-family: new-spirit-condensed; 
  src: url(new-spirit-condensed.otf); 
    }
